@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  /* --greenOne: #7f9c09;
  --greenTwo: #acd40d; */
  --greenOne: #db6809;
  --greenTwo: #fd7e14;
  --greenThree: #ffefd6;
  --fontColor: rgb(95, 95, 95);
  --fontColorDark: rgb(91, 91, 91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body,
div#root {
  background-color: #fafafa;
  scroll-behavior: smooth;
}
hr:not([size]) {
  height: 1px;
  color: #c0bdbd;
}
.slick-prev:before,
.slick-next:before {
  color: var(--greenTwo) !important;
}
a {
  text-decoration: none !important;
  color: var(--greenTwo) !important;
  transition: 0.3s !important;
  font-weight: 500;
}
a:hover {
  color: var(--greenOne) !important;
}
p {
  margin-bottom: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}
li {
  list-style: none !important;
}
.card {
  border-radius: 7px !important;
  overflow: hidden;
}
.card-footer {
  background-color: rgb(255 248 242) !important;
}
.btn-primary {
  background-color: var(--greenTwo) !important;
  border-color: initial !important;
  padding: 4px 10px !important;
}
.btn-primary:hover {
  background-color: var(--greenOne) !important;
}
.form-control {
  font-size: 14px !important;
  padding: 3px 0.75rem !important;
}
.justify-content-center {
  text-align: center;
}
.form-check {
  margin-top: 10px;
}
.form-check-input:checked {
  background-color: var(--greenTwo) !important;
  border-color: var(--greenOne) !important;
}
.form-check-input:focus {
  border-color: #feb086 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(253 97 13 / 25%) !important;
}
